# socat pull service - by abcd567

[Unit]
Description=socat pull service by abcd567
Wants=network.target
After=network.target

[Service]
User=pull
RuntimeDirectory=pull
RuntimeDirectoryMode=0755
ExecStart=/bin/bash /usr/share/mixer/pull.sh
SyslogIdentifier=pull
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
#Nice=-5

[Install]
WantedBy=default.target
